navigator.requestMediaKeySystemAccess("com.widevine.alpha",[{"initDataTypes":["cenc"],"persistentState":"required","audioCapabilities":[{"contentType":"audio/mp4; codecs=\"mp4a.40.5\"","robustness":"SW_SECURE_CRYPTO"}],"videoCapabilities":[{"contentType":"video/mp4; codecs=\"avc1.640028\"","robustness":"HW_SECURE_DECODE"},{"contentType":"video/mp4; codecs=\"avc1.640028\"","robustness":"SW_SECURE_DECODE"}]},{"initDataTypes":["cenc"],"persistentState":"required"}])